services:
  foodchallenge_order_api:
    image: julianoliveira/foodchallenge-order-api
    container_name: foodchallenge_order_api
    build:
      context: ../../src/FoodChallenge.Order
      dockerfile: ../../tools/docker/build/dotnet.web-api.Dockerfile
      target: final
    environment:
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT}
      ConnectionStrings__DbConnection: ${ConnectionStrings__DbConnection}
      OAuth__Authority: ${OAuth__Authority}
      FoodChallengePayments__BaseUrl: ${FoodChallengePayments__BaseUrl}
      FoodChallengePayments__AuthUrl: ${FoodChallengePayments__AuthUrl}
      FoodChallengePayments__Timeout: ${FoodChallengePayments__Timeout}
      FoodChallengePayments__ClientId: ${FoodChallengePayments__ClientId}
      FoodChallengePayments__ClientSecret: ${FoodChallengePayments__ClientSecret}
      FoodChallengeKitchens__BaseUrl: ${FoodChallengeKitchens__BaseUrl}
      FoodChallengeKitchens__AuthUrl: ${FoodChallengeKitchens__AuthUrl}
      FoodChallengeKitchens__Timeout: ${FoodChallengeKitchens__Timeout}
      FoodChallengeKitchens__ClientId: ${FoodChallengeKitchens__ClientId}
      FoodChallengeKitchens__ClientSecret: ${FoodChallengeKitchens__ClientSecret}
    networks:
      - foodchallenge_network
    ports:
      - "5001:5001"

volumes:
  foodchallenge_data:
    driver: local

networks:
  foodchallenge_network:
    driver: bridge
