services:
  foodchallenge_order_migrations:
    image: foodchallenge/order-migrations
    container_name: foodchallenge_order_migrations
    build:
      context: ../../src/FoodChallenge.Order
      dockerfile: ../../tools/docker/build/migrations.postgres.Dockerfile
      target: migrations
    environment:
      ConnectionStrings__DbConnection: ${ConnectionStrings__DbConnection}
    networks:
      - foodchallenge_network

  foodchallenge_order_api:
    image: foodchallenge/order-api
    container_name: foodchallenge_order_api
    build:
      context: ../../src/FoodChallenge.Order
      dockerfile: ../../tools/docker/build/dotnet.web-api.Dockerfile
      target: final
    environment:
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT}
      ConnectionStrings__DbConnection: ${ConnectionStrings__DbConnection}
      OAuth__Authority: ${OAuth__Authority}
      FoodChallengePayments__BaseUrl: ${FoodChallengePayments__BaseUrl}
      FoodChallengePayments__AuthUrl: ${FoodChallengePayments__AuthUrl}
      FoodChallengePayments__Timeout: ${FoodChallengePayments__Timeout}
      FoodChallengePayments__ClientId: ${FoodChallengePayments__ClientId}
      FoodChallengePayments__ClientSecret: ${FoodChallengePayments__ClientSecret}
    depends_on:
      foodchallenge_order_migrations:
        condition: service_completed_successfully
    networks:
      - foodchallenge_network
    ports:
      - "5000:5000"

volumes:
  foodchallenge_data:
    driver: local

networks:
  foodchallenge_network:
    driver: bridge
