services:
  foodchallenge_order_api:
    image: julianoliveira/foodchallenge-order-api
    container_name: foodchallenge_order_api
    build:
      context: ../../src/FoodChallenge.order
      dockerfile: ../../tools/docker/build/dotnet.web-api.Dockerfile
      target: final
    environment:
      ConnectionStrings__DbConnection: ${ConnectionStrings__DbConnection}
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT}
    networks:
      - foodchallenge_network
    ports:
      - "5001:5001"

volumes:
  foodchallenge_data:
    driver: local

networks:
  foodchallenge_network:
    driver: bridge
